:root {
  color-scheme: light dark;
}

/* 暗黑主题 */
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

/* 亮色主题 */
@media (prefers-color-scheme: light) {
  body {
    background: #f6f6f6;
    color: black;
  }
}